<section id="bottom">
    <div class="container wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Про школу</h3>
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Головна</a></li>
                        <li><a asp-controller="Home" asp-action="About">Про нас</a></li>
                        <li><a asp-controller="Home" asp-action="Contacts">Контакти</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Навчання</h3>
                    <ul>
                        <li><a asp-controller="Club" asp-action="GetClubs">Мовні клуби</a></li>
                        <li><a asp-controller="Club" asp-action="GetMasterClasses">Майстер-класи</a></li>
                        <li><a asp-controller="Course" asp-action="GetCourses">Курси</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Наші контакти</h3>
                    <ul>
                        <li>Номер телефону: +380951859892</li>
                        <li>Email: ukrainianaktiv@gmail.com</li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</section>
