<div class="gmap shadow-box" id="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10582.080625512803!2d35.0509896!3d48.4657356!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xed1920a4abecd819!2z0JHQpiDQn9GA0LjQt9C80LA!5e0!3m2!1sen!2sca!4v1673221421612!5m2!1sen!2sca" class="google-map" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>