@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewBag.Title = "Про нас";
    Layout = "_Layout";
}
<section id="about-us">
    <div class="container">
        <div class="team">
            <div class="center wow fadeInDown">
                <h2>Про нас</h2>
                <p class="lead">Підготовка до ЗНО у нас — це, передусім, багато практичної роботи та корисної інформації. Викладач спільно з учнями розв'язують та аналізують завдання реального та пробного ЗНО, вчаться знаходити найшвидші способи розв'язку та уникати типових помилок.</p>
                <p class="lead score">Середній бал наших учнів — 180!</p>    
            </div>
            
            <div class="row clearfix center">
                <img src="~/img/gif/about.gif" class="media-gif">
            </div>
            
            <div class="row clearfix about-course">
                <p>
                    Особливо цікавим цей курс стане тим, хто не має змоги одержати якісну підготовку та кваліфіковану консультацію через складну ситуацію, яка склалася на теренах нашої держави – мешканцям тимчасово окупованої території Криму та окремих районів Донецької та Луганської областей.
                </p>
                <p>
                    Також курс стане у пригоді учням 7-10 класів, які опановують сучасну програму з української мови та літератури, викладачам для використання у «змішаному форматі» під час занять, батькам, які бажають разом із дітьми поновити знання, всім охочим до українського слова та української культури.
                </p>
                <p>
                    Курс розбито на теми. Кожна тема містить блоки або підтеми, які відповідають програмі ЗНО та засновані на досвіді попередніх років. До вашої уваги відеолекції до кожної підтеми, презентації та конспекти. Їх розміщено під відео. Матеріали доступні для завантаження та перегляду у будь-який зручний для вас час, що значно спростить підготовку та дозволить ще раз переглянути потрібне безпосередньо перед тестуванням.
                </p>
                <p>
                    Ми пропонуємо вам зануритись у світ українського слова за допомогою наочного ілюстрування додатковими відеоматеріалами та аудіозаписами пісень та творів, які було покладено на музику або використано для написання музичних творів, п’єс, опер, балетів тощо.
                </p>
                <br><br>
            </div>

            <div class="row clearfix border">
                <div class="col-md-4 hidden-sm hidden-xs">
                    <img class="media-object" src="~/img/comp2.png" alt=""/>
                </div>
                <div class="col-md-8">
                    <h4>Вивчайте українську без відвідування репетиторів!</h4>
                    <p>
                        Щоб зробити вивчення української мови ефективним ми залучили команду фахівців. Окрім першокласних викладачів, це також програмісти та дизайнери. Разом вони розробили унікальне навчальне середовище, яке дозволяє розпочати вивчати українську школярам з будь-яким рівнем знань. На кожному занятті наші учні отримують:
                        <ul class="list-pros">
                            <li class="pros-item">живе спілкування з викладачами</li>
                            <li class="pros-item">презентації з коротким конспектом кожного уроку</li>
                            <li class="pros-item">цікаві тренувальні вправи та завдання, розв'язання яких коментує викладач</li>
                            <li class="pros-item">інтерактивні домашні завдання</li>
                            <li class="pros-item">особистий рейтинг, який допомагає оцінити прогрес у вивченні української</li>
                        </ul>
                        Найзручніше те, що усі ці матеріали завжди відкриті для перегляду у особистому кабінеті на сайті. Це допомагає структурувати знання та робить навчання ефективнішим за роботу з репетитором
                    </p>
                    <p>
                        Наше завдання – зробити навчання цікавим, результативним і персоналізованим, підлаштованим під особливості та потреби кожного.
                    </p>
                    <p>
                        Ми відкриті як для випускників і школярів, так для батьків і вчителів. Зрештою, для будь-кого, кому потрібні хороші знання та вміння, закріплені практикою.
                    </p>
                    <p>
                        Змінивши підхід до отримання знань, ми змінюємо освіту в Україні!
                    </p>
                </div>
            </div>
            <br><br><br>
            
            <div class="row clearfix theme">
                    <h2>ТЕМИ КУРСУ</h2>
                    <h3>Українська література</h3>
                    <h4>Модуль І. Усна народна творчість та давня література</h4>
                    <h4 class="theme-caption">Тема 1. Усна народна творчість</h4>
                    <ul class="theme-list"> 
                        <li class="theme-item">Календарно-обрядові пісні</li>
                        <li class="theme-item">Суспільно-побутові та родинно-обрядові пісні</li>
                        <li class="theme-item">Історичні пісні</li>
                        <li class="theme-item">Пісні Марусі Чурай</li>
                        <li class="theme-item">Народні думи</li>
                        <li class="theme-item">Народні балади</li>
                    </ul>

                    <h4 class="theme-caption">Тема 2. Давня література</h4>
                    <ul class="theme-list"> 
                        <li class="theme-item">«Повість минулих літ»</li>
                        <li class="theme-item">«Слово про похід Ігорів»</li>
                        <li class="theme-item">Григорій Сковорода</li>
                    </ul>

                    <h4>Модуль ІІ. Література XVIII – початку XX століття</h4>
                    <h4 class="theme-caption">Тема 1. Нова українська література</h4>
                    <ul class="theme-list"> 
                        <li class="theme-item">І. Котляревський «Енеїда»</li>
                        <li class="theme-item">І. Котляревський «Наталка Полтавка»</li>
                        <li class="theme-item">Г. Квітка-Основ’яненко «Маруся»</li>
                        <li class="theme-item">П. Куліш «Чорна рада»</li>
                    </ul>

                    <h4 class="theme-caption">Тема 2. Творчість Тараса Шевченка</h4>
                    <ul class="theme-list"> 
                        <li class="theme-item">Т. Шевченко «Катерина»</li>
                        <li class="theme-item">Т. Шевченко «Гайдамаки»</li>
                        <li class="theme-item">Т. Шевченко «Кавказ»</li>
                        <li class="theme-item">Т. Шевченко «Сон» («У кожного своя доля..»)</li>
                        <li class="theme-item">Т. Шевченко «І мертвим, і живим, і ненародженим…» та «Заповіт»</li>
                    </ul>

                    <h4 class="theme-caption">Тема 3. Реалізм в українській літературі</h4>
                    <ul class="theme-list"> 
                        <li class="theme-item">І. Нечуй-Левицький «Кайдашева сім’я»</li>
                        <li class="theme-item">П. Мирний «Хіба ревуть воли, як ясла повні»</li>
                        <li class="theme-item">Театр корифеїв</li>
                        <li class="theme-item">І. Карпенко-Карий «Мартин Боруля»</li>
                        <li class="theme-item">І. Франко «Гімн» та «Чого являєшся мені у сні…»</li>
                        <li class="theme-item">І. Франко «Мойсей»</li>
                    </ul>

                    <h4>Модуль ІІІ. Література першої половини ХХ століття</h4>
                    <h4 class="theme-caption">Тема 1. Модерн початку століття</h4>
                    <ul class="theme-list"> 
                        <li class="theme-item">М. Коцюбинський «Intermezzo»</li>
                        <li class="theme-item">М. Коцюбинський «Тіні забутих предків»</li>
                        <li class="theme-item">О. Кобилянська «Земля»</li>
                        <li class="theme-item">Леся Українка «Contra spem spero!»</li>
                        <li class="theme-item">Леся Українка «Лісова пісня»</li>
                        <li class="theme-item">М. Вороний «Блакитна панна» та Олександр Олесь «Чари ночі», «О слово рідне, орле скутий!»</li>
                        <li class="theme-item">Б.-І. Антонич «Різдво»</li>
                    </ul>

                    <h4 class="theme-caption">Тема 2. Розстріляне відродження</h4>
                    <ul class="theme-list"> 
                        <li class="theme-item">Розстріляне відродження</li>
                        <li class="theme-item">М. Хвильовий «Я (Романтика)»</li>
                        <li class="theme-item">М. Куліш «Мина Мазайло»</li>
                        <li class="theme-item">М. Рильський «Молюсь і вірю»</li>
                        <li class="theme-item">М. Зеров «Київ – традиція»</li>
                        <li class="theme-item">П. Тичина «Ви знаєте, як липа шелестить», «О панно Інно, панно Інно», «Пам’яті тридцяти»</li>
                        <li class="theme-item">В. Сосюра «Любіть Україну»</li>
                        <li class="theme-item">В. Підмогильний «Місто»</li>
                        <li class="theme-item">Остап Вишня «Сом», «Моя автобіографія»</li>
                        <li class="theme-item">Ю. Яновський «Дитинство»</li>
                    </ul>

                    <h4>Модуль ІV. Шістдесятники</h4>
                    <h4 class="theme-caption">Тема 1. Повоєнна література</h4>
                    <ul class="theme-list"> 
                        <li class="theme-item">О. Довженко «Україна в огні»</li>
                        <li class="theme-item">О. Довженко «Зачарована Десна»</li>
                        <li class="theme-item">А. Малишко «Пісня про рушник»</li>
                    </ul>

                    <h4 class="theme-caption">Тема 2. Шістдесятники</h4>
                    <ul class="theme-list"> 
                        <li class="theme-item">В. Симоненко «Задивляюсь в твої зіниці», «Ти знаєш, що ти людина»</li>
                        <li class="theme-item">О. Гончар «Залізний острів»</li>
                        <li class="theme-item">Г. Тютюнник «Три зозулі з поклоном»</li>
                        <li class="theme-item">В. Стус «О земле втрачена, явися», «Як добре те, що смерті не боюсь я»</li>
                        <li class="theme-item">І. Драч «Балада про соняшник»</li>
                        <li class="theme-item">Л. Костенко «Страшні слова, коли вони мовчать», «Українське альфреско»</li>
                        <li class="theme-item">Л. Костенко «Маруся Чурай»</li>
                    </ul>

                    <h4 class="theme-caption">Тема 3. Твори українських письменників-емігрантів</h4>
                    <ul class="theme-list"> 
                        <li class="theme-item">І. Багряний «Тигролови»</li>
                        <li class="theme-item">Є. Маланюк «Стилет чи стилос?»</li>
                    </ul>

                    <h4 class="theme-caption">Модуль V. Теорія літератури</h4>
                    <ul class="theme-list"> 
                        <li class="theme-item">Літературні роди і жанри. Стилі.</li>
                        <li class="theme-item">Тропи.</li>
                        <li class="theme-item">Поетичний синтаксис.</li>
                        <li class="theme-item">Постмодернізм як літературне явище</li>
                    </ul>

                    <h3>Українська мова</h3>
                    <h4>Модуль І. Фонетика та Орфографія</h4>
                    <h4 class="theme-caption">Тема 1. Фонетика</h4>
                    <ul class="theme-list"> 
                        <li class="theme-item">Алфавіт. Букви та звуки української мови.</li>
                        <li class="theme-item">Наголос та засоби милозвучності</li>
                    </ul>

                    <h4 class="theme-caption">Тема 2. Орфографія</h4>
                    <ul class="theme-list"> 
                        <li class="theme-item">Правопис літер, що позначають ненаголошені голосні Е, И, О</li>
                        <li class="theme-item">Спрощення в групах приголосних</li>
                        <li class="theme-item">М’який знак. Буквосполучення ЙО, ЬО</li>
                        <li class="theme-item">Апостроф</li>
                        <li class="theme-item">Подвоєння та подовження літер</li>
                        <li class="theme-item">Правопис префіксів</li>
                        <li class="theme-item">Правопис власних назв</li>
                        <li class="theme-item">Правопис слів іншомовного походження</li>
                        <li class="theme-item">Написання складних слів разом та через дефіс</li>
                        <li class="theme-item">Правопис НЕ з різними частинами мови</li>
                    </ul>

                    <h4>Модуль ІІ. Лексика.  Фразеологія. Словотвір</h4>
                    <h4 class="theme-caption">Тема 1. Лексика</h4>
                    <ul class="theme-list"> 
                        <li class="theme-item">Групи слів за  значенням, походженням, уживанням та емоційним забарвленням</li>
                        <li class="theme-item">Лексичні помилки</li>
                    </ul>

                    <h4 class="theme-caption">Тема 2. Фразеологія</h4>
                    <ul class="theme-list"> 
                        <li class="theme-item">Фразеологізми та їхні властивості. Фразеологізми-синоніми та фразеологізми-антоніми.</li>
                    </ul>

                    <h4 class="theme-caption">Тема 3. Словотвір</h4>
                    <ul class="theme-list"> 
                        <li class="theme-item">Спільнокореневі слова</li>
                    </ul>

                    <h4>Модуль ІІІ. Морфологія</h4>
                    <h4 class="theme-caption">Тема 1. Морфологічні особливості української мови</h4>
                    <ul class="theme-list"> 
                        <li class="theme-item">Частини мови</li>
                        <li class="theme-item">Морфологічні ознаки іменника</li>
                        <li class="theme-item">Морфологічні ознаки  дієслова</li>
                        <li class="theme-item">Ступені порівняння прикметника</li>
                        <li class="theme-item">Особливості відмінювання числівника</li>
                        <li class="theme-item">Правопис прислівника</li>
                    </ul>

                    <h4>Модуль IV. Синтаксис</h4>
                    <h4 class="theme-caption">Тема 1. Просте речення</h4>
                    <ul class="theme-list"> 
                        <li class="theme-item">Просте речення. Типи простого речення</li>
                        <li class="theme-item">Члени речення</li>
                        <li class="theme-item">Односкладне речення</li>
                        <li class="theme-item">Ускладнене речення</li>
                    </ul>

                    <h4 class="theme-caption">Тема 2. Складне речення</h4>
                    <ul class="theme-list"> 
                        <li class="theme-item">Складносурядне речення</li>
                        <li class="theme-item">Складнопідрядне речення</li>
                        <li class="theme-item">Розділові знаки в складному реченні</li>
                    </ul>

                    <h4>Модуль V. Стилістика</h4>
                    <h4 class="theme-caption">Тема 1. Стилістичні особливості української мови</h4>
                    <ul class="theme-list"> 
                        <li class="theme-item">Стилі української мови</li>
                        <li class="theme-item">Текст. Типи мовлення</li>
                        <li class="theme-item">Власне висловлювання</li>
                    </ul>
            </div>
                <br />
                <br />
            <div class="row clearfix opportunities">
                <h4>Дорогий абітурієнте! У нашій школі у тебе будуть такі можливості: </h4>
            </div>
            <div class="row clearfix">
                <div class="col-md-4 col-sm-6 border-item">
                    <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img class="media-object" src="~/img/book2.png" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4>Вивчиш усю теорію</h4>
                                <h5>Наші книжки короткі та зрозумілі. Ти легко засвоїш мінімум теорії, достатній для розв'язання будь-яких завдань ЗНО</h5>
                            </div>
                        </div> 
                        <p>Перевірений результат!</p>
                    </div>
                </div> 
                <div class="col-md-4 col-sm-6 col-md-offset-2 border-item">
                    <div class="single-profile-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img class="media-object" src="~/img/book1.png" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4>Вивчиш критерії оцінювання</h4>
                                <h5>Ти дізнаєшся, як розв'язати кожне завдання на максимальний бал та будеш знати усі критерії оцінювання</h5>
                            </div>
                            
                        </div> 
                        <p>ЗНО з української мови на 200 балів!</p>
                    </div>
                </div>
            </div> 
            <div class="row team-bar">
                <div class="first-one-arrow hidden-xs">
                    <hr>
                </div>
                <div class="first-arrow hidden-xs">
                    <hr> <i class="fa fa-angle-up"></i>
                </div>
                <div class="second-arrow hidden-xs">
                    <hr> <i class="fa fa-angle-down"></i>
                </div>
                <div class="third-arrow hidden-xs">
                    <hr> <i class="fa fa-angle-up"></i>
                </div>
                <div class="fourth-arrow hidden-xs">
                    <hr> <i class="fa fa-angle-down"></i>
                </div>
            </div>  

            <div class="row clearfix">
                <div class="col-md-4 col-sm-6 col-md-offset-2 border-item">
                    <div class="single-profile-bottom wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img class="media-object" src="~/img/book4.png" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4>Дізнаєшся лайфхаки</h4>
                                <h5>Ми знаємо маленькі хитрощі та спрощені алгоритми розв'язання завдань формату ЗНО</h5>
                            </div>
                        </div> 
                        <p>Хитрощі успішного ЗНО з української мови!</p>
                    </div>
                </div> 
                <div class="col-md-4 col-sm-6 col-md-offset-2 border-item">
                    <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img class="media-object" src="~/img/school1.png" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4>Вступиш до університету</h4>
                                <h5>Завдяки навчанню ти підвищиш свої шанс на вступ до бажаного закладу вищої освіти</h5>
                            </div>
                        </div> 
                        <p>Вступ до бажаного ЗВО!</p>
                    </div>
                </div>
            </div>	 
        </div> 
    </div>
</section>
@Html.Partial("_BottomLinks")
